{{! The Table Partial }}
{{#if responsive}}
<div class="table--responsive">
{{/if}}

<table class="table {{modifier}}">

{{#if thead}}
    <thead>
    {{#each thead.rows}}
        <tr>
        {{#each this}}
            <th>{{this}}</th>
        {{/each}}
        </tr>
    {{/each}}
    </thead>
{{/if}}

{{#if tbody}}
    <tbody>
    {{#each tbody.rows}}
        <tr>
        {{#each this}}
            {{#if ../../has-row-headers}}
                {{#if @first}}
                    <th>{{this}}</th>
                {{else}}
                    <td>{{this}}</td>
                {{/if}}
            {{else}}
                <td>{{this}}</td>
            {{/if}}
        {{/each}}
        </tr>
    {{/each}}
    </tbody>
{{/if}}

</table>
{{#if responsive}}
</div>
{{/if}}
